.elctroContainer {
    /* margin: 8px;
    background: rgb(250 248 217 / 74%) !important;
    width: 500px;
    height: 500px; */
}
.electroContainer1Sub{
  /* grid-template-columns: auto auto auto auto;
    display: grid; */
}

.ContainerSub {
    /* width: 80px;
    height: 80px;
    /* margin-right: 15px; */
    /* margin: 3px; */
    /* border-radius: 10px; */
    /* background-color:black; */ 
}